# 忽略嵌入式倉庫
績效後台(數據卡片、報工、機聯網)/潤股_後台/

# 依賴項目
node_modules/
bin/
obj/

# 編譯輸出
build/
dist/

# IDE 和編輯器文件
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# 日誌文件
*.log

# 環境文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 其他
npm-debug.log*
yarn-debug.log*
yarn-error.log*